:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('https://image.cdn2.seaart.me/2025-01-19/cu62fkle878c73c7mqn0-1/a51d229fb30577e916b1bc458b45cd5a_high.webp');
  background-size: cover; /* Makes sure the image covers the entire body */
  background-position: center; /* Centers the image */
  background-attachment: fixed;
  color: #333;
}

.wrapper {
  width: 100%;
  margin: 50px auto;
}
